In [1]:
x = 0

while x < 100:
    x += 2 # 2 4 6 8.......96 98 100

print(x)

100

In [2]:
def access(lst, num):
    lst.append(num)
    num -= 4
    
    return num

lst = [1,2,3]
num = 4

access(lst, num)
print(lst, num)

[1, 2, 3, 4] 4

# Lists

In [3]:
a = ["bipin", 34, True, [1,2,3,4], 6.8, "Python"]

In [4]:
a[0]

'bipin'

In [5]:
a[len(a) - 1]

'Python'

In [6]:
a[-1]

'Python'

In [7]:
a[-2]

6.8

In [8]:
# Slicing

In [9]:
a = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [10]:
a[2:8] # list_name[start:end] -> start is included and end is excluded

[30, 40, 50, 60, 70, 80]

In [11]:
a = [10, 20, 30, 40, 50, 60, 70, 80]

In [12]:
a[2:7]

[30, 40, 50, 60, 70]

In [13]:
a[-6:-1]

[30, 40, 50, 60, 70]

In [14]:
a[2:-1]

[30, 40, 50, 60, 70]

In [15]:
a[-6:7]

[30, 40, 50, 60, 70]

In [16]:
a[6:1:-1]

[70, 60, 50, 40, 30]

In [17]:
a[-2:-7:-1]

[70, 60, 50, 40, 30]

In [18]:
a[6:-7:-1]

[70, 60, 50, 40, 30]

In [19]:
a[-2:1:-1]

[70, 60, 50, 40, 30]

In [20]:
a[:5]

[10, 20, 30, 40, 50]

In [21]:
a[6:]

[70, 80]

In [22]:
a[5::-2]

[60, 40, 20]

In [23]:
a[:]

[10, 20, 30, 40, 50, 60, 70, 80]

In [24]:
'''
Default Values in Slicing ->

- Step size is Positive - 
    - Start -> 0 - beginning of the list
    - End -> len(list) - end of the list
    
- Step size is Negative -
    - Start -> -1 - end of the list
    - End -> (-len(list) - 1) - beginning of the list
'''

'\nDefault Values in Slicing ->\n\n- Step size is Positive - \n    - Start -> 0 - beginning of the list\n    - End -> len(list) - end of the list\n    \n- Step size is Negative -\n    - Start -> -1 - end of the list\n    - End -> (-len(list) - 1) - beginning of the list\n'

In [25]:
a[::-1] # reverse a list

[80, 70, 60, 50, 40, 30, 20, 10]

In [26]:
it = iter(a)

In [27]:
it

In [28]:
next(it)

10

In [29]:
sum(a)

360

In [30]:
max(a)

80

In [31]:
min(a)

10

In [33]:
random = [40, True, 20, "bipin", 5.6]

In [34]:
max(random)

TypeError: '>' not supported between instances of 'str' and 'int'

In [35]:
strings = ["this", "is", "a", "list", "of", "strings"]

In [36]:
max(strings)

'this'

In [37]:
sorted(strings)

['a', 'is', 'list', 'of', 'strings', 'this']

In [39]:
sum(strings)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [40]:
"string1" + "string2"

'string1string2'

In [47]:
def custom_sum(a):
    if type(a[0]) == str:
        final_sum = ""
    else:
        final_sum = 0
        
    for i in a:
        final_sum += i
        
    return final_sum

In [48]:
custom_sum(strings)

'thisisalistofstrings'

In [49]:
custom_sum([1,2,3,4,5])

15

In [50]:
[1,2,3,4] + [5,6]

[1, 2, 3, 4, 5, 6]

In [51]:
[1,2,3,4] * 4

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [52]:
[1,2,3,4] * [2,3]

TypeError: can't multiply sequence by non-int of type 'list'

In [54]:
[1,2,3,4] / [2,3, 5, 6]

TypeError: unsupported operand type(s) for /: 'list' and 'list'

# TUPLES

In [55]:
a = (10, 20, 30, 40, 50)

In [56]:
a.append(60)

AttributeError: 'tuple' object has no attribute 'append'

In [57]:
a.remove(60)

AttributeError: 'tuple' object has no attribute 'remove'

In [58]:
a[0] = 100

TypeError: 'tuple' object does not support item assignment

In [59]:
a = (10)

In [60]:
type(a)

int

In [61]:
a = (10,)

In [62]:
type(a)

tuple

In [63]:
# Packing and Unpacking

In [64]:
a = (10, 20, 30)

In [65]:
x, y, z = a

In [66]:
x

10

In [67]:
y

20

In [68]:
z

30

In [69]:
x, y, z, w = a

ValueError: not enough values to unpack (expected 4, got 3)

In [70]:
x, y = a

ValueError: too many values to unpack (expected 2)

In [71]:
def foo():
    return 100, 200, 300

In [72]:
bar = foo()

In [73]:
bar

(100, 200, 300)

In [74]:
x, y, z = foo()

In [77]:
print(x, y, z)

100 200 300

In [78]:
a = 10, 20, 30, 40, 50

In [79]:
a

(10, 20, 30, 40, 50)

In [80]:
# Swapping

In [81]:
a = "Python"
b = "amazing"

# Using third variable
temp = a
a = b
b = temp

In [82]:
a

'amazing'

In [83]:
b

'Python'

In [84]:
a = "Python"
b = "amazing"

# Using third variable
a, b = b, a

In [85]:
a

'amazing'

In [86]:
b

'Python'

In [87]:
a = (1, 2, 3, 4) + (5)

TypeError: can only concatenate tuple (not "int") to tuple

In [88]:
a = (1, 2, 3, 4) + (5,)

In [89]:
a

(1, 2, 3, 4, 5)

# Dictionaries

In [90]:
d = {
    "name" : "Bipin",
    "age" : 5000,
    "subject" : ["Python", "Data Analytics", "Machine Learning"]
}

In [91]:
'''
Keys -> Immutable Data Types
Values -> Any Python Object
'''

'\nKeys -> Immutable Data Types\nValues -> Any Python Object\n'

In [92]:
d["name"]

'Bipin'

In [94]:
d["random"]

KeyError: 'random'

In [93]:
d.get("name")

'Bipin'

In [96]:
d.get("random", "Key not present!")

'Key not present!'

In [97]:
d["cool?"] = True

In [98]:
d

{'name': 'Bipin',
 'age': 5000,
 'subject': ['Python', 'Data Analytics', 'Machine Learning'],
 'cool?': True}

In [99]:
for i in d:
    print(i)

name
age
subject
cool?

In [100]:
for i in d:
    print(d[i])

Bipin
5000
['Python', 'Data Analytics', 'Machine Learning']
True

In [103]:
for key, value in d.items():
    print(f"{key} -> {value}")

name -> Bipin
age -> 5000
subject -> ['Python', 'Data Analytics', 'Machine Learning']
cool? -> True

# Sets

In [104]:
# Sets contain -
# Unique
# Immutable
# Unordered Elements

In [105]:
s = {1,2,3,4,4,4,4,4,5,5,5,5,6,6,7,8,9,10,10,10}

In [106]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [107]:
s.add(20)

In [108]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20}

In [109]:
s.remove(20)

In [110]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [111]:
# Set Operations

In [112]:
s1 = {1,2,4,5,6}
s2 = {2,3,5,7}

In [113]:
# Intersection

s1.intersection(s2)

{2, 5}

In [114]:
s1 & s2

{2, 5}

In [115]:
# Union

s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [116]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7}

In [117]:
# Union operator works with dictionaries

In [118]:
A = {"a" : 10, "b" : 20}
B = {"c" : 30, "b" : 40}

result = A | B

In [119]:
result

{'a': 10, 'b': 40, 'c': 30}

In [120]:
# Difference

s1.difference(s2)

{1, 4, 6}

In [121]:
s2.difference(s1)

{3, 7}

In [122]:
s1 - s2

{1, 4, 6}

In [123]:
# Symmetric Difference

s1.symmetric_difference(s2)

{1, 3, 4, 6, 7}

In [124]:
s1 ^ s2

{1, 3, 4, 6, 7}

In [129]:
# HOMEWORK

In [125]:
board = [[""] * 3] * 3

In [126]:
board

[['', '', ''], ['', '', ''], ['', '', '']]

In [127]:
board[0][0] = "0"

In [128]:
board

[['0', '', ''], ['0', '', ''], ['0', '', '']]

In [130]:
# Figure out why does this happen?

# Comprehension

In [131]:
# Create a list of the squares of all numbers from 1 to 10

In [134]:
squares = [] # Empty list

for i in range(1, 11): # for loop
    squares.append(i ** 2) # Value to be appended

In [135]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [136]:
squares_wow = [ i ** 2 for i in range(1, 11) ]

In [137]:
squares_wow

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [138]:
# i ** 2 if i is even and i ** 3 if i is odd

In [139]:
l = [ i ** 2 if i % 2 == 0 else i ** 3 for i in range(1, 11)]

In [140]:
l

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [141]:
def mylogic(a):
    if a % 2 == 0:
        return a ** 2
    else:
        return a ** 3

In [142]:
l = [ mylogic(i) for i in range(1, 11) ]

In [143]:
l

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [144]:
s = { i ** 2 for i in range(1, 11) }

In [145]:
s

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

In [148]:
d = { f"sq of {i}" : i ** 2 for i in range(1, 11) }

In [149]:
d

{'sq of 1': 1,
 'sq of 2': 4,
 'sq of 3': 9,
 'sq of 4': 16,
 'sq of 5': 25,
 'sq of 6': 36,
 'sq of 7': 49,
 'sq of 8': 64,
 'sq of 9': 81,
 'sq of 10': 100}

In [150]:
t = ( i ** 2for i in range(1, 11) )

In [153]:
l = [ [ i * j for j in range(1, 11) ] for i in range(1, 11)]

In [154]:
l

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [157]:
special = [ j + i for j in ["a", "b", "c"] for i in ["1", "2"] ]
# Confusing structure for multiple loops in list comprehension.

In [158]:
special

['a1', 'a2', 'b1', 'b2', 'c1', 'c2']