In [6]:
l = [5, 2, 1, 4, 3]

In [7]:
sorted(l) # FUNCTIONS

[1, 2, 3, 4, 5]

In [8]:
l = [5, 2, 1, 4, 3]

In [9]:
l.sort() # METHODS

In [10]:
l

[1, 2, 3, 4, 5]

# Dunders

These are special functions which help change the default behaviours connected to objects!

In [11]:
class Car:
    def __init__(self, name, milaege):
        self.name = name
        self.milaege = milaege

In [12]:
c1 = Car("Nexon", 14)

In [13]:
print(c1)

<__main__.Car object at 0x7fccd9aab550>

In [14]:
# Ideal print value - "Nexon -> 14"

In [15]:
class Car:
    def __init__(self, name, milaege):
        self.name = name
        self.milaege = milaege
        
    # Whenever an object is printed, that class' __str__ dunder is invoked
    def __str__(self):
        return f"{self.name} -> {self.milaege}"

In [16]:
c1 = Car("Nexon", 14)

In [17]:
print(c1)

Nexon -> 14

In [18]:
c2 = Car("Altroz", 15)

In [19]:
c1 + c2

TypeError: unsupported operand type(s) for +: 'Car' and 'Car'

In [22]:
{"a":1, "b":2} + {"c":3, "d":4}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [33]:
class Car:
    def __init__(self, name, milaege):
        self.name = name
        self.milaege = milaege
        
    # Whenever an object is printed, that class' __str__ dunder is invoked
    def __str__(self):
        return f"{self.name} -> {self.milaege}"
    
    # To enable addition on two of this class' objects
    def __add__(self, other):
        return f"{self.name} -> {self.milaege} and {other.name} -> {other.milaege}"
    
    def __lt__(self, other):
        return self.milaege < other.milaege

In [34]:
c1 = Car("Nexon", 14)
c2 = Car("Altroz", 15)

In [35]:
c1 + c2

'Nexon -> 14 and Altroz -> 15'

In [36]:
c2 < c1

False

Documentation for dunders -> https://docs.python.org/3/reference/datamodel.html

In [31]:
cout << "THIS IS PRINTED!"

NameError: name 'cout' is not defined

In [32]:
'''
Homework -

1. Make changes to the add dunder such that it can add 3 car objects simultaneously.
2. 'cout << "THIS IS PRINTED!"'
    - Make this work in python.
    - 'cout << "First" << "Second" << "Third"' make this work as well.
'''

'\nHomework -\n\n1. Make changes to the add dunder such that it can add 3 car objects simultaneously.\n2. \'cout << "THIS IS PRINTED!"\'\n    - Make this work in python.\n    - \'cout << "First" << "Second" << "Third"\' make this work as well.\n'

# Inheritence

In [37]:
class Parent:
    def __init__(self):
        print("Parent Class!")
        
class Child(Parent):
    def __init__(self):
        print("Child Class!")

In [40]:
class SchoolMember:
    def __init__(self, name):
        self.name = name
        
class Student(SchoolMember):
    def __init__(self, name, age):
        self.age = age
        
class Staff(SchoolMember):
    def __init__(self, name, salary):
        self.salary = salary
        
class Teacher(Staff):
    def __init__(self, name, salary, department):
        self.department = department

In [41]:
s1 = Student("Bipin Kalra", 5000)

In [42]:
s1.age

5000

In [43]:
s1.name

AttributeError: 'Student' object has no attribute 'name'

In [44]:
class SchoolMember:
    def __init__(self, name):
        self.name = name
        
class Student(SchoolMember):
    def __init__(self, name, age):
        self.age = age
        
        # SchoolMember.__init__(self, name)
        super().__init__(name)
        # self is passed automatically in case of super()
        # super() points to the immediate parent class

In [45]:
s1 = Student("Bipin Kalra", 5000)

In [46]:
s1.age

5000

In [47]:
s1.name

'Bipin Kalra'

In [48]:
class SchoolMember:
    def __init__(self, name):
        self.name = name
        
class Student(SchoolMember):
    def __init__(self, name, age):
        self.age = age
        
        super().__init__(name)
        
class Staff(SchoolMember):
    def __init__(self, name, salary):
        self.salary = salary
        
        super().__init__(name)
        
class Teacher(Staff):
    def __init__(self, name, salary, department):
        self.department = department
        
        super().__init__(name, salary)

In [49]:
t1 = Teacher("Bipin", 10, "Python")

In [50]:
t1.name

'Bipin'

In [51]:
t1.salary

10

In [53]:
t1.department

'Python'

In [54]:
class BankAccount:
    def __init__(self, initial_balance):
        self.balance = initial_balance
        
    def withdraw(self, amount):
        self.balance -= amount
    
    def deposit(self, amount):
        self.balance += amount

In [55]:
b1 = BankAccount(10000)

In [56]:
b1.deposit(5000)

In [57]:
b1.balance

15000

In [58]:
b1.withdraw(15000)

In [59]:
b1.balance

0

In [60]:
b1.balance = 2345678909876543213456789098765432345678987654323456789

In [61]:
b1.balance

2345678909876543213456789098765432345678987654323456789

### PRIVATE ATTRIBUTES

- They are only accessible inside the class
- Objects can't access them outside the class
- They are not inherited

In [72]:
class BankAccount:
    def __init__(self, initial_balance):
        self.__balance = initial_balance # __ sets an attribute / method as private
        
    # Setter
    def withdraw(self, amount):
        self.__balance -= amount
    
    def deposit(self, amount):
        self.__balance += amount
        
    def __special_private_function(self):
        print("Private function - Only callable inside the class.")
        
    # Getter
    def show_balance(self):
        self.__special_private_function()
        return self.__balance

In [73]:
b1 = BankAccount(10000)

In [74]:
b1.__balance

AttributeError: 'BankAccount' object has no attribute '__balance'

In [75]:
b1.show_balance()

Private function - Only callable inside the class.

10000

In [76]:
b1.deposit(5000)

In [77]:
b1.show_balance()

Private function - Only callable inside the class.

15000

In [78]:
b1.__special_private_function()

AttributeError: 'BankAccount' object has no attribute '__special_private_function'

In [79]:
# Name Mangling

In [80]:
b1._BankAccount__balance

15000

In [81]:
b1._BankAccount__balance = 23489843490987234568987654345678765432

In [82]:
b1.show_balance()

Private function - Only callable inside the class.

23489843490987234568987654345678765432

### Multiple Inheritence

In [83]:
class A:
    def __init__(self, a):
        self.a = a
        
class B:
    def __init__(self, b):
        self.b = b
        
# C inherits from both A and B
class C(A, B):
    def __init__(self, a, b, c):
        self.c = c
        
        A.__init__(self, a)
        B.__init__(self, b)

In [84]:
random = C(1, 2, 3)

In [85]:
random.a

1

In [86]:
random.b

2

In [87]:
random.c

3

In [88]:
'''
HOMEWORK - 
Figure out the way to use super() in cases of multiple inheritence
'''

'\nHOMEWORK - \nFigure out the way to use super() in cases of multiple inheritence\n'

In [102]:
class A:
    x = 1
    
class B(A):
    x = 2

class C(B):
    x = 3

class D(A):
    x = 4
    
class E(C, D):
    pass

In [103]:
e = E()
e.x

3

In [101]:
E.__mro__

(__main__.E, __main__.C, __main__.B, __main__.D, __main__.A, object)

In [104]:
'''
Quiz 1 ->

class A:
    print("Am I a class?")

A()

obj1 = A()

if A():
    print(A())
'''

'\nQuiz 1 ->\n\nclass A:\n    print("Am I a class?")\n\nA()\n\nobj1 = A()\n\nif A():\n    print(A())\n'

In [105]:
'''
Quiz 2 ->

class Student:
    def __init__(random, id, age):
        self.id = id
        self.age = age

s1 = Student(1, 5000)
'''

'\nQuiz 2 ->\n\nclass Student:\n    def __init__(random, id, age):\n        self.id = id\n        self.age = age\n\ns1 = Student(1, 5000)\n'

In [106]:
'''
Quiz 3 ->

class A:
    def __init__(self, name):
        self.name = name
    
a1 = A("Bunty")
a2 = A("Babli")

print(id(a1) == id(a2))
'''

'\nQuiz 3 ->\n\nclass A:\n    def __init__(self, name):\n        self.name = name\n    \na1 = A("Bunty")\na2 = A("Babli")\n\nprint(id(a1) == id(a2))\n'

In [110]:
class A:
    def __init__(self, name):
        self.name = name
    
a1 = A("Bunty")
a2 = A("Babli")

print(id(a1) == id(a2))

False

In [107]:
'''
Quiz 4 ->

class Counter:
    def __init__(self):
        self.count=5
        self.count=count+1

c = Counter()
print(c.count)
'''

'\nQuiz 4 ->\n\nclass Counter:\n    def __init__(self):\n        self.count=5\n        self.count=count+1\n\nc = Counter()\nprint(c.count)\n'

In [109]:
class Counter:
    def __init__(self):
        self.count=5
        self.count=count+1

c = Counter()
print(c.count)

NameError: name 'count' is not defined

In [108]:
'''
Quiz 5 ->

class A:
    def __init__(self):
        self.variable = 'Old'
        self.update(self.variable)
        
    def update(self, var):
        var = 'New'
        
a = A()
print(a.variable)
'''

"\nQuiz 5 ->\n\nclass A:\n    def __init__(self):\n        self.variable = 'Old'\n        self.update(self.variable)\n        \n    def update(self, var):\n        var = 'New'\n        \na = A()\nprint(a.variable)\n"

In [111]:
class A:
    def __init__(self):
        self.variable = 'Old'
        self.update(self.variable)
        
    def update(self, var):
        var = 'New'
        
a = A()
print(a.variable)

Old