# Basic Principles of Functional Programming

- Treat functionas as FCCs (objects)
- Treat variables are immutable
- Data should be separated from functions

In [1]:
x = 5 # initial dataset

# HIDDEN MUTATIONS
x = 3 * x
x += 1
# HIDDEN MUTATIONS

print(x) # Problem - Can't rollback mutations

16

In [2]:
x = 5 # initial dataset

x1 = 3 * x
x2 = x1 + 1

print(x2) # Problem - TOO MANY COPIES!

16

In [3]:
x = 5 # initial dataset

def mutation_1(x):
    x = 3 * x
    x += 1
    
    return x

x1 = mutation_1(x) # Limited and well defined copies are created

# Maps

In [4]:
a = [1, 2, 3, 4, 5]

In [7]:
result = list(map(lambda x : x ** 2, a))

In [8]:
result

[1, 4, 9, 16, 25]

In [10]:
[x ** 2 for x in a] # same result!

[1, 4, 9, 16, 25]

In [11]:
%timeit [x ** 2 for x in list(range(1000000))]

286 ms ± 8.07 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [12]:
%timeit list(map(lambda x : x ** 2, a))

1.58 µs ± 5.56 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [13]:
a = [1, 2, 3, 4, 5]
b = [10, 20, 30, 40, 50]

In [14]:
list(map(lambda x, y: x + y, a, b))

[11, 22, 33, 44, 55]

In [15]:
a = [1, 2, 3, 4, 5]
b = [10, 20, 30, 40, 50, 60, 70, 80]

In [17]:
list(map(lambda x, y: x + y, a, b)) # only continues till the length of the shorter list

[11, 22, 33, 44, 55]

In [18]:
'''
HOMEWORK - 

Given a list of heights in inches, convert them to t - shirt sizes using the following mapping ->

height < 150 -> "Small"
height >= 150 and < 180 -> "Medium"
height >= 180 -> "Large"
'''

'\nHOMEWORK - \n\nGiven a list of heights in inches, convert them to t - shirt sizes using the following mapping ->\n\nheight < 150 -> "Small"\nheight >= 150 and < 180 -> "Medium"\nheight >= 180 -> "Large"\n'

In [40]:
d = {"name" : "Bipin Kalra", "age" : 5000, "hobby" : ["painting", "basketball"]}

list(map(lambda x: f"{str(x[0])} -> {str(x[1])}", d.items()))

['name -> Bipin Kalra', 'age -> 5000', "hobby -> ['painting', 'basketball']"]

# Filters

In [19]:
a = list(range(1, 21))

In [20]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [23]:
f = list(filter(lambda x: x % 2 == 0, a))

In [24]:
f

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [27]:
def filtering_condition(x):
    return x % 2 == 0

In [28]:
list(filter(filtering_condition, a))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [30]:
a = [[1, 2], [1, 4, 5, 6], [1], [], [], [2, 3, 4, 5, 6, 6], [], [3, 4, 5]]

In [31]:
list(filter(lambda x : len(x), a))

[[1, 2], [1, 4, 5, 6], [1], [2, 3, 4, 5, 6, 6], [3, 4, 5]]

# Zip

In [34]:
a = [1, 2, 3, 4]
b = ["a", "b", "c", "d", "e", "f"]

In [35]:
list(zip(a, b))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [36]:
a = [1, 2, 3, 4]
b = ["a", "b", "c", "d", "e", "f"]
c = [True, False, False]

In [38]:
list(zip(c, a, b))

[(True, 1, 'a'), (False, 2, 'b'), (False, 3, 'c')]

# Reduce

In [41]:
from functools import reduce

In [42]:
a = [1, 2, 3, 4, 5]

In [43]:
result = reduce(lambda x, y : x + y, a)

In [44]:
result

15

In [51]:
%timeit reduce(lambda x, y : x + y, range(1000000))

93 ms ± 3.39 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [52]:
%%timeit
result = 0

for i in range(1000000):
    result += i

54.8 ms ± 354 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [53]:
strings = ["this", "is", "a", "list", "of", "strings", "!"]

In [55]:
reduce(lambda x, y: x + " " + y, strings)

'this is a list of strings !'

In [56]:
a = [10, 5, 60, 70, 40, 30, 25, 100]

In [57]:
reduce(lambda x, y: x if x > y else y, a)

100

# `*Args` and `**Kwargs`

In [58]:
def sum_numbers(x, y):
    return x + y

In [59]:
sum_numbers(5, 6)

11

In [60]:
sum_numbers(5, 6, 7, 8)

TypeError: sum_numbers() takes 2 positional arguments but 4 were given

In [61]:
def sum_numbers(x, y, *args):
    print(x)
    print(y)
    print(args)

In [64]:
sum_numbers(5, 6, 7, 8, 9)

5
6
(7, 8, 9)

In [72]:
def sum_numbers(x, y, *any_random_variable_name):
    result = x + y
    
    if any_random_variable_name:
        result += sum(any_random_variable_name)
        
    return result

In [73]:
sum_numbers(5, 6, 7, 8, 9, 10, 20, 30, 40, 50)

185

In [74]:
def random():
    return 100, 200, 300, 400, 500

In [76]:
a, b, c = random()

ValueError: too many values to unpack (expected 3)

In [77]:
a, b, *c = random()

In [78]:
a

100

In [79]:
b

200

In [80]:
c

[300, 400, 500]

In [81]:
def create_person(name, age, gender):
    Person = {
        "name": name,
        "age": age,
        "gender": gender
    }
    
    return Person

In [82]:
create_person(
    name = "Bipin Kalra",
    age = 5000,
    gender = "Male"
)

{'name': 'Bipin Kalra', 'age': 5000, 'gender': 'Male'}

In [83]:
def create_person(name, age, gender, **kwargs):
    print(name)
    print(age)
    print(gender)
    print(kwargs)

In [84]:
create_person(
    name = "Bipin Kalra",
    age = 5000,
    gender = "Male",
    nationality = "India",
    expertise = "Python"
)

Bipin Kalra
5000
Male
{'nationality': 'India', 'expertise': 'Python'}

In [85]:
def create_person(name, age, gender, **extra_info):
    Person = {
        "name": name,
        "age": age,
        "gender": gender
    }
    
    if extra_info:
        Person.update(extra_info)
    
    return Person

In [86]:
create_person(
    name = "Bipin Kalra",
    age = 5000,
    gender = "Male",
    nationality = "India",
    expertise = "Python"
)

{'name': 'Bipin Kalra',
 'age': 5000,
 'gender': 'Male',
 'nationality': 'India',
 'expertise': 'Python'}

In [87]:
def random(x, y, *args, **kwargs):
    print(x)
    print(y)
    print(args)
    print(kwargs)

In [88]:
random(4, 5, 6, 7, 8, a = 1, b = 2, c = 3)

4
5
(6, 7, 8)
{'a': 1, 'b': 2, 'c': 3}

In [89]:
# positional -> extra positional (args) -> keyworded -> extra keyworded (kwargs)

In [90]:
random(a = 2, b = 3, 0, 2, 5, 6, 7)

SyntaxError: positional argument follows keyword argument (388191380.py, line 1)

In [ ]:
def sample_func(x, y, *args, **kwargs):
    return x, y, args, kwargs